/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Custom styles */
.input-item {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --background: #f0f0f5;
  --border-radius: 10px;
}

.login-button {
  --background: #387ef5;
  --border-radius: 10px;
  --color: white;
  --padding-vertical: 10px; /* Adjust the vertical padding for better visuals */
  --padding-horizontal: 20px; /* Adjust the horizontal padding for better visuals */
  margin-top: 20px; /* Add some margin at the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow to make the button pop */
  transition: background-color 0.3s, transform 0.1s; /* Smooth background color and transform transition */
}

.login-button:hover {
  --background: darken(#387ef5, 10%); /* Darken the button on hover for a feedback effect */
  transform: translateY(-2px); /* Move the button up slightly on hover */
}
